:root {
  --primary-color: #6003C3;
  --white: #FFFFFF;
  --box-color-1: #FCFF00;
  --box-color-2: #57FFC9;
  --box-color-3: #A5FF01;
}

/* Reset Style Sheet */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Body styles */

body {
  font-family: 'Bebas Neue', Impact, sans-serif;
}

/* -- Header styles */

header {
  width: 100%;
  height: 300px;
  background-color:var(--primary-color);
  display: flex;
  justify-content:center;
  align-items:center;
}

h1 {
  width: 100%;
  color: var(--white);
  font-size: 4.5rem;
  text-align: center;
  letter-spacing: .3rem;
  line-height: .9em;
  padding: 0 5%;
}

/* Main styles */

p,
#wins,
#losses {
  text-align: center;
  color: var(--primary-color);
  font-size: 1.75rem;
  padding: 2.5rem;
  margin: 0 auto;
}

#wins,
#losses {
  padding: .5rem;
  margin: 0;
}

/* --Boxes */

.boxes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  position: relative;
  border: 15px solid var(--primary-color);
  border-radius: 10px;
  font-size: 8rem;
  text-align: center;
  padding: 4% 8%;
  margin-bottom: 5%;
  color: var(--primary-color);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, .25);
}

.box:hover {
  animation-name: boxrise;
  animation-duration: .5s;
}

.box:active {
  animation-name: boxsnap;
  animation-duration: 1s;
  animation-iteration-count: 5;
}

#box1{
  background-color: var(--box-color-1);
}

#box2{
  background-color: var(--box-color-2);
}

#box3{
  background-color: var(--box-color-3);
}

.score {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Animations */

/* On hover, box will rise up */
@keyframes boxrise {
  from { 
    top:0;
  }
  to { 
    top: -20px;
  }
}

/* On click, box will transform to right and snap back. */

@keyframes boxsnap {
  from {
    transform:rotate(0);
  }
  to {
    transform:rotate(45deg);
  }
}


/* Media Queries */

@media screen and (min-width: 769px) and (max-width: 1024px) {
  h1 {
    width: 30%;
  }

  .boxes {
    flex-direction: row;
    justify-content: center;
  }

  .box {
    margin: 0 3%;
  }

  .score {
    margin-top: 5%;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
  h1 {
    width: 25%;
  }

  .boxes {
    flex-direction: row;
    justify-content: space-evenly;
  }
  
}

@media screen and (min-width: 1367px) {
  h1 {
    width: 20%;
  }

  .boxes {
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
}
